# Node modules
/node_modules

# Build output
/dist
/build

# Environment variables
.env

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Compiled code
*.js
*.css

# Backup files
*~
